{% extends "base.html" %}

{% block content %}
  <div class="container mt-3">
    <h1>{{ title }}</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.receipt.count }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">No expense categories yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
